*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #03a9f4;
    transition: 0.5s;
}
body.active
{
    background: #f43648;
}
.container
{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
    
}
.bluebg 
{
    position: absolute;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0,0.15);
    overflow: hidden;
}
.bluebg .box 
{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bluebg .box h2 
{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}
.bluebg .box button 
{
    cursor: pointer;
    padding: 10px 30px;
    background: #fff;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    border: none;
    overflow: hidden;
}
.formbx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;

   
}

.formbx.active .signupForm {
    left:0;
   
}

.formbx.active .signinForm {
    left: -100%;
    transition-delay: 0s;
}
.formbx .signinForm {
 transition-delay: 0.25s ;
}
.formbx .signupForm 
{
    left: 100%;
}
.active 
{
    left: 50%;

}
.form 
{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 00.5s;
    overflow: hidden;
}
.form form 
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form form h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}
.form form input 
{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 12px;
    border: 1px solid #333;
}
.formsubmit 
{
    background: #03a9f4;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;

}
.forgot 
{
    color: #333;
    text-decoration: none;
    font-size: 12px;
}
.formupsubmit 
{
    background: #f43648;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
}
@media (max-width : 991px) {
    .container{
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .bluebg 
    {
        top: 0;
        height: 100%;
        box-shadow: none;

    }
    .formbx 
    {
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
        bottom: 0;
    }
    .bluebg .box 
    {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }
    .box.signin 
    {
        top: 0;
       
    }
    .formbx.active {
        left: 0;
        top: 150px;
    }
}